
<div class="topnav">
  <ul class="left_side_items">
    <li> <a routerLink="/" class="active">FashionPacific </a></li>
    <li> <a routerLink="cart" class="active">Cart </a></li>
  </ul>
  <div class="right_side_items" style="">
    <ul>
      <li>
        <i id="cart" class="bi bi-cart-check-fill" style="color: orange; font-size:  40px;"></i>

      </li>
      <li>
        <span class="badge badge-primary">{{total_items}}</span>
      </li>
 
    </ul>

  </div>

</div>






<!-- <div class="cart_counter">

  <span class="badge badge-primary">4</span>
  <i id="cart" class="bi bi-cart-check-fill" style="color: burlywood; font-size:  40px;"></i>
</div> -->








<!-- <a href="#home" class="active">Home</a>
    <a href="#categories">categories</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a> -->